/*Header */
.header{
    background-image: url(./assets/imgs/bgNavbar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.myPicture{
    filter:drop-shadow(10px 10px 10px #ffc40079 );
}
.spanTitle{
    color: #ffc400e3;
    text-shadow: 0 0 100px #ffc400e3;
}